body {
    background-image: url(https://wallpapercave.com/wp/wp9457394.jpg);
}

h1 {
    color: #ffbe58;
    text-align: center;
}

div { 
    padding: 45px;
    margin: 25px;    
}

form{
    text-align: center;
    position: relative;
}

button[type="submit"] {
      background-color: #ffbe58;
      font-size: 15px;
      margin: 20px;
      margin-left: 670px;     
}

input[type="text"], textarea {
    background-color: #ffbe58;
    height: 25px;
    font-size: 18px;
}

div#navBar{
    display: inline;
  margin-bottom: -55px;
}

ul {
    margin-left: 170px;
    padding-bottom: 55px;
    list-style: none;
    font-size: 20px;
}

li {
    display: inline;
   margin-bottom: 0px;
}

button {
    background-color: #ffbe58;
    width: 75px;
    margin-left: 25px;    
}

button {
    font-size: 18px;
    width: 150px;
}

div.grab{
    display: flex;
}

div#title{
    background-color:#ffbe58;
    box-shadow: 3px 3px grey; 
}

div#author{
    background-color: #ffbe58;
    box-shadow: 3px 3px grey;
}

div#subject{
    background-color: #ffbe58;
    box-shadow: 3px 3px grey;
}

div#language{
    background-color: #ffbe58;
    box-shadow: 3px 3px grey;
}  