#h1 {
    display: flex;
    text-align: center;
    display: inline;
}

#navBar{
    padding: 45px;
    display: flex;
    display: inline;
   text-align: center;
   
    
}

ul {
    list-style: none;
   }